@import "../../../vars";

.form-button {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: $button-color;

  &__submit {
    border: none;
    background-color: $light-color;
    color: $button-color;

    &:hover {
      font-weight: bold;
    }
  }

  &__icon {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url("../../../../assets/icons/next.svg");
    width: 0.5rem;
  }
}
