<div class="form-input">
  <label class="form-input__label">{{ title }}</label>
  <div class="form-input__container">
    <input
      [value]="value"
      type="text"
      class="form-input__input"
      [ngClass]="{ 'form-input__input--error': errors && touched }"
      placeholder="{{ description }}"
      (input)="onInput($event.target.value)"
      (click)="onClicked()"
    />
    <em class="form-input__icon {{ iconClass }}"></em>
  </div>
  <app-input-error
    *ngIf="errors && touched"
    [errors]="errors"
  ></app-input-error>
</div>
