@import "../../../vars";

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    margin: 0.5rem 0;
    color: $principal-color;
    font-size: 1.2rem;
  }

  &__input {
    padding: 0.5rem;
    color: $principal-color;
    border: 0.1rem solid $principal-color;
    border-radius: 3%;
    width: 95%;

    &::placeholder {
      color: $principal-color;
      opacity: 0.7;
      font-size: 0.7rem;
    }

    &:focus {
      outline: none;
      border: 0.15rem solid $principal-color;
    }

    &--error {
      border: 0.1rem solid $error-color;

      &:focus {
        border: 0.15rem solid $error-color;
      }
    }
  }

  &__icon {
    @extend .icon;
    border: 0.1rem solid $principal-color;
    border-radius: 3%;
    padding: 0 1rem;

    &--pin {
      background-image: $pin-icon-url;
    }

    &--visit {
      background-image: $visit-icon-url;
    }
  }

  &__container {
    display: flex;
  }
}
