@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

//Icons Variables
$pin-icon-url: url("../assets/icons/pin.svg");
$visit-icon-url: url("../assets/icons/visit.svg");
$reverse-logo-url: url("../assets/icons/logo-inverse.svg");
$logo-url: url("../assets/icons/logo.svg");

//Colors Variables
$principal-color: #151e3b;
$error-color: #ff4833;
$button-color: #30a2ae;
$light-color: white;
$dark-color: #151e3b;

//Fonts Variables
$font-family: "Roboto";
$font-size: 16px;
