@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

//Icons Variables
$pin-icon-url: url('../assets/icons/pin.svg');
$visit-icon-url: url('../assets/icons/visit.svg');

//Colors Variables
$principal-color: #38384A;
$error-color: #FF4833;

//Fonts Variables
$font-family: 'Roboto';
$font-size: 16px;
